<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
        </services>
        <bindings>
            <basicHttpBinding>
                <binding name="SMEVMessageExchangeSoap11Binding" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://smev3-n0.test.gosuslugi.ru:7500/smev/v1.2/ws"
                binding="basicHttpBinding" bindingConfiguration="SMEVMessageExchangeSoap11Binding"
                contract="SmevExchange.SMEVMessageExchangePortType" name="SMEVMessageExchangeEndpoint" />
          <!--Здесь возможно нужно заменить ссылку на класс SmevExchange на ссылку на ServiceReference1, так как это костыль,
          уберегающий от выстрела в ногу после автогенерации кода ServiceReference1? обойти эту проблему нельзя-->
        </client>
    </system.serviceModel>
</configuration>
